body {
  margin: 0 auto;
  width: 50%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#header > a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-family: Courier, monospace;
}

#header {
  margin-top: 15px;
}
